/*
colors

Yellow #f3c933
Black #1c1a12
White #ffffff



*/
* {
    color:#1c1a12;
}

.logo {
    width: 75px;
}

.nav-custom {
    background-color:#f3c933 !important ;
}

.header {
    background: url(../images/hero.jpeg) no-repeat center center/cover;
    height: 500px;
}